.hero{
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0 80px;
}

.hero__wrapper{
    background-image: url(https://images.ctfassets.net/eoaaqxyywn6o/3Fy8DlsAEQ8j5mPlk38kle/59fcb989148b6633d5cecd40cc8b7fc8/Hero_Banner-EN.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 67.5%;
    height: 586px;
    position: relative;
}

.hero__message{
    background-color: #d5a1ff;
    padding: 0 70px;
    height: 330px;
    width: 518px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    margin-top: 140px;
    margin-left: 780px;
}

.hero__title{
    font-size: 42px;
    text-align: center;
    line-height: 1.1;
    font-style: italic;
}

.hero__text{
    text-align: center;
    line-height: 1.5;
}

.hero__btn{
    background-color: #000;
    border: 3px solid #000;
    color: #fff;
    padding: 10px 15px;
    width: 180px;
    border-radius: 6px;
    cursor: pointer;
}

.hero__btn:hover{
    border: 3px solid #fff;
}